@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-slate-950;
}
