:root {
  --bs-primary: #007bff !important;
  --bs-secondary: #6c757d !important;
  --bs-success: #8ec156 !important;
  --bs-danger: #dc3545 !important;
  --bs-warning: #ffc107 !important;
  --bs-info: #18b4bf !important;
  --bs-light: #f8f9fa !important;
  --bs-dark: #343a40 !important;
  --base-font-size: 16px;
}

.bg-info {
  background-color: var(--bs-info) !important;
  color: white !important;
}

.btn-info {
  background-color: var(--bs-info) !important;
  color: white !important;
}

.btn-outline-info {
  border-color: var(--bs-info) !important;
  color: var(--bs-info) !important;
}

.btn-outline-info:hover {
  background-color: var(--bs-info) !important;
  color: white !important;
}

.alert-info {
  background-color: var(--bs-info) !important;
  color: white !important;
}

.badge-info {
  background-color: var(--bs-info) !important;
  color: white !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.border-info {
  border-color: var(--bs-info) !important;
}

.bg-success {
  background-color: var(--bs-success) !important;
  color: white !important;
}

.btn-success {
  background-color: var(--bs-success) !important;
  color: white !important;
}

.btn-outline-success {
  border-color: var(--bs-success) !important;
  color: var(--bs-success) !important;
}

.btn-outline-success:hover {
  background-color: var(--bs-success) !important;
  color: white !important;
}

.alert-success {
  background-color: var(--bs-success) !important;
  color: white !important;
}

.badge-success {
  background-color: var(--bs-success) !important;
  color: white !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.border-success {
  border-color: var(--bs-success) !important;
}

html {
  font-size: var(--base-font-size); /* affects rem units */
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  direction: rtl;
}

@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 0.5rem;
    white-space: nowrap;
  }

  .table th:nth-child(4),
  .table td:nth-child(4) {
    display: none;
  }
}

.fs-1 {
  font-size: 2.5rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-3 {
  font-size: 1.75rem !important;
}
.fs-4 {
  font-size: 1.5rem !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fs-6 {
  font-size: 1rem !important;
}

body {
  margin: 0;
  font-family: Calibri, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="radio"]:checked {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}

input[type="radio"]:checked:focus {
  box-shadow: 0 0 0 0.2rem rgba(24, 180, 191, 0.25);
}

:lang(ar) {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

.px-50 {
  padding: inherit 50vw;
}

.no-interaction {
  pointer-events: none;
  opacity: 1;
  cursor: default;
}

.no-interaction:hover {
  background-color: inherit;
  filter: none;
}

.public-bg-image {
  background-image: url("../assets/images/public-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.public-bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.public-bg-image > .card {
  z-index: 2;
  position: relative;
}

.phone-number-input {
  direction: ltr;
}

.w-fit {
  width: fit-content;
}
