:root {
  --bs-primary: #007bff !important;
  --bs-secondary: #6c757d !important;
  --bs-success: #8ec156 !important;
  --bs-danger: #dc3545 !important;
  --bs-warning: #ffc107 !important;
  --bs-info: #18b4bf !important;
  --bs-light: #f8f9fa !important;
  --bs-dark: #343a40 !important;
}

body {
  margin: 0;
  font-family: Calibri, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="radio"]:checked {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}

input[type="radio"]:checked:focus {
  box-shadow: 0 0 0 0.2rem rgba(24, 180, 191, 0.25);
}

:lang(ar) {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

.no-interaction {
  pointer-events: none;
  opacity: 1;
  cursor: default;
}

.no-interaction:hover {
  background-color: inherit;
  filter: none;
}

.public-bg-image {
  background-image: url("../src/assets/images/public-bg.jpg");
  background-size: cover;
  background-position: center;
}

.public-bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.public-bg-image > .card {
  z-index: 2;
  position: relative;
}

.phone-number-input {
  direction: ltr;
}

.w-fit {
  width: fit-content;
}
